<!doctype html>
<html>
<head>
    <title>SPON VERSIONS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <style>
        ul {
            list-style: none;
        }
        li {
            margin-top: 10px;
        }
    </style>
</head>

<body>

<header>

</header>

<main>
    <ul>
        {{each tars as value index}}
        <li>
            <a href="/download/{{value}}">{{value}}</a>
        </li>
        {{/each}}
    </ul>

</main>

<footer>

</footer>

<script src="http://cdn1.showjoy.com/assets/mobile/core/gmu/1.0.0/zepto.min.js"></script>
</body>
</html>
